<div class="navbar-btn list-group-item-heading"></div>
<section class="container">
  
  <h3 class="text-primary navbar-btn"><strong>{{'Create new password'|translate}}</strong></h3>
  <hr class="list-group-item-heading navbar-btn">
  <aside class="col-md-3 col-sm-4 col-xs-12">
	<div class="row">
	  <ul role="tablist" class="nav nav-pills nav-stacked">
		<li role="presentation" class=""><a title="{{'My Profile'|translate}}" aria-controls="Contact-Info" role="tab" href="#!/users/edit-profile">{{'My Profile'|translate}}</a></li>
		<li role="presentation" class="active"><a href="#!/users/change_password" title="{{'Password'|translate}}" aria-controls="password" role="tab">{{'Change Password'|translate}}</a></li>
	  </ul>
	</div>
  </aside>
	<div class="tab-content">
		<div class="well-sm navbar-btn list-group-item-heading"></div>
		<div id="password" class="tab-pane active" role="tabpanel">
		<div class="col-md-9 col-sm-8 col-xs-12">
            <div class="clearfix"></div>
            <form class="form-horizontal" name="changePasswordForm" ng-submit="change_password(changePasswordForm.$valid, user);changePasswordForm.$setPristine()">
			  <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.old_password.$invalid && changePasswordForm.old_password.$dirty }">
                <label for="newPassword" class="col-sm-3 control-label">{{'Current Password'|translate}}</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" name="old_password" id="currentPassword" ng-model="user.old_password" placeholder="{{'Current Password'|translate}}" required autofocus>
                </div>
				<div class="help-block text-danger" ng-if="changePasswordForm.old_password.$dirty" ng-messages="changePasswordForm.old_password.$error">
					  <div ng-message="required">{{'Required'|translate}}.</div>
				</div>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.new_password.$invalid && changePasswordForm.new_password.$dirty }">
                <label for="newPassword" class="col-sm-3 control-label">{{'New Password'|translate}}</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="newPassword" minlength="5" name="new_password" ng-model="user.new_password" placeholder="{{'New Password'|translate}}" required autofocus>
                </div>
				<div class="help-block text-danger" ng-if="changePasswordForm.new_password.$dirty" ng-messages="changePasswordForm.new_password.$error">
				  <div ng-message="required">{{'Required'|translate}}.</div>
				  <div ng-message="minlength">{{'Password must be 5 characters'|translate}}.</div>
				</div>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.confirm_new_password.$invalid && changePasswordForm.confirm_new_password.$dirty }">
                <label for="confirmedpassword" class="col-sm-3 control-label">{{'Re-enter New Password'|translate}}</label>
                <div class="col-sm-6">
                  <input id="confirmedpassword" type="password" class="form-control" minlength="5" name="confirm_new_password" ng-model="user.confirm_new_password" data-match="user.new_password" placeholder="{{'Re-type New Password'|translate}}" required>
                </div>
				<div class="help-block text-danger" ng-if="changePasswordForm.confirm_new_password.$dirty" ng-messages="changePasswordForm.confirm_new_password.$error">
					  <div ng-message="required">{{'Required'|translate}}.</div>
					  <div ng-message="minlength">{{'Password must be 5 characters'|translate}}.</div>
					  <div ng-message="match">{{'Password and confirm password must be same'|translate}}.</div>
					</div>
              </div>
              <div class="form-group">
			    <div class="well well-sm clearfix">
				  <div class="pull-right">
				    <button type="submit" class="btn btn-lg btn-primary" ng-disabled="changePasswordForm.$invalid || disableButton">{{'Save'|translate}} <span ng-show="disableButton"><i class="fa fa-spinner fa-pulse fa-lg"></i></span></button>
				  </div>
                </div>
			  </div>
            </form>
          </div>            
		  </div>
		</div>
</section>