<section class="clearfix">
	<div class="container">	
		<div banner position="topBanner" ng-if="$root.settings['site.enabled_plugins'].indexOf('Banner') > -1"></div>
		<div class="panel-body">
			<h3 class="lead text-center text-primary"><strong>{{'Forgot your password?' | translate}}</strong></h3>
			<hr>
		</div>					
		<div class="well-lg panel clearfix">
			
			<div class="alert alert-info">{{'Please provide the email address. We\'ll send you an email with new password.' | translate}}</div>
			<form class="form-horizontal" method="post" name="forgotPasswordForm" ng-submit="forgot_password(forgotPasswordForm.$valid, user);forgotPasswordForm.$setPristine()">
				<div class="form-group clearfix" ng-class="{ 'has-error' : forgotPasswordForm.email.$invalid && forgotPasswordForm.email.$dirty }">
					<label class="col-md-3 col-sm-3 control-label" for="designation">{{'Email' | translate}}</label>
					<div class="col-md-5 col-sm-9">
						<input class="form-control input-lg" type="email" name="email" ng-model="user.email" placeholder="{{'Email your email' | translate}}" required autofocus>
						<div class="help-block text-danger" ng-if="forgotPasswordForm.email.$dirty" ng-messages="forgotPasswordForm.email.$error">
							<div ng-message="required">{{'Please Enter Email' | translate}}.</div>
							<div ng-message="email">{{'Your email address is invalid'|translate}}.</div>
						</div>
					</div>
				</div>
				<div class="well well-sm clearfix">
					<div class="pull-right">
						<button type="submit" ng-disabled="forgotPasswordForm.$invalid || disableButton" class="btn btn-lg btn-primary">{{'Send' | translate}} <span ng-show="disableButton"><i class="fa fa-spinner fa-pulse fa-lg"></i></span></button>
					</div>
				</div>
			    <br/>
			    <p class="text-center text-muted">
					<small>{{'Don\'t have an account yet?'|translate}} <a ng-href="#!/users/signup" >{{'Sign up'|translate}}</a></small>
			    </p>
			</form>
		</div> 
		<div banner position="bottomBanner" ng-if="$root.settings['site.enabled_plugins'].indexOf('Banner') > -1"></div>
	</div>
</section>