<div class="col-xs-10 col-xs-offset-1 navbar-btn">
	<h2 class="text-center">{{'What Do You Want to Learn Today?' |translate}}</h2>
	<div class="col-xs-12 text-center categories_lst">
		<ul class="list-inline navbar-btn">
		  <li class="h5" ng-repeat="category in model.common.parentCategories.data"><a  href="#!/courses/search?category_id={{category.id}}"title="{{category.sub_category_name}}"><strong>{{category.sub_category_name}}</strong></a></li>
		</ul>
	</div>
	<div class="clearfix well-lg"></div>
	<ul class="clearfix row list-unstyled course-listing">
		<li class="col-md-3 col-sm-4 col-xs-12 navbar-btn list-group-item-heading" ng-repeat="homeCourse in model.homeCourse.data">
			<div class="navbar-btn clearfix panel homePanelHeight"> 
				<span class="show pr"> 
				 <!-- course image when is_from_mooc_affiliate false -->
				<a ng-if="homeCourse.image_hash && homeCourse.is_from_mooc_affiliate !== 1" href="#!/course/{{homeCourse.id}}/{{homeCourse.slug}}" title="{{homeCourse.title}}"><span class="course_thumb_img"> <img ng-src="{{$root.site_url}}img/normal_thumb/Course/{{homeCourse.image_hash}}" alt="[Image: {{homeCourse.title}}]" title="{{homeCourse.title}}" class="img-responsive" /></span></a>
				<a ng-if="!homeCourse.image_hash && homeCourse.is_from_mooc_affiliate !== 1" href="#!/course/{{homeCourse.id}}/{{homeCourse.slug}}" title="{{homeCourse.title}}"><span class="course_thumb_img"> <img ng-src="{{$root.site_url}}img/normal_thumb/Course/0.default.jpg" alt="[Image: {{homeCourse.title}}]" title="{{homeCourse.title}}" class="img-responsive" /></span></a> 
				
				<!-- course image when is_from_mooc_affiliate true -->
				<a ng-if="homeCourse.course_image && homeCourse.is_from_mooc_affiliate === 1" href="#!/course/{{homeCourse.id}}/{{homeCourse.slug}}" title="{{homeCourse.title}}"><span class="mooc_thumb_img mooc_home_img"> <img ng-src="{{homeCourse.course_image}}" alt="[Image: {{homeCourse.title}}]" title="{{homeCourse.title}}" class="img-responsive" /></span></a> 					
				<a ng-if="!homeCourse.course_image && homeCourse.is_from_mooc_affiliate === 1" href="#!/course/{{homeCourse.id}}/{{homeCourse.slug}}" title="{{homeCourse.title}}"><span class="course_thumb_img"><img ng-src="{{$root.site_url}}img/normal_thumb/Course/0.default.jpg" alt="[Image: {{homeCourse.title}}]" title="{{homeCourse.title}}" class="img-responsive" /></span></a> 
				
				</span>
				<div class="caption col-xs-12">
					<div class="row">
							<a href="#!/course/{{homeCourse.id}}/{{homeCourse.slug}}" class="h5 htruncate-m3 text-primary navbar-btn" title="{{homeCourse.title}}"><strong>{{homeCourse.title}}</strong></a>		
							<div class="navbar-btn"></div> 
							<div class="cleafix">
							<div class="show media">
							<profile-image class="pull-left" user-image-hash='homeCourse.user_image_hash' user-display-name='{{homeCourse.displayname}}' user-profile-id='homeCourse.user_id' ng-if="homeCourse && $root.settings['site.enabled_plugins'].indexOf('Instructor') > -1" user-profile-thumb='micro_thumb' ></profile-image>
							 <profile-name class="media-body" user-display-name='homeCourse.displayname' user-profile-id='homeCourse.user_id' user-name-class='htruncate-m1' ng-if="homeCourse && $root.settings['site.enabled_plugins'].indexOf('Instructor') > -1 && $root.settings['site.enabled_plugins'].indexOf('CourseCheckout') == -1"></profile-name>
							 <profile-name class="row media-body col-xs-7" user-display-name='homeCourse.displayname' user-profile-id='homeCourse.user_id' user-name-class='htruncate-m1' ng-if="homeCourse && $root.settings['site.enabled_plugins'].indexOf('Instructor') > -1 && $root.settings['site.enabled_plugins'].indexOf('CourseCheckout') > -1"></profile-name>
							 <span class="pull-right text-success h4  list-group-item-heading list-group-item-text"><amount-display amount='{{homeCourse.price}}' fraction='0' is-course-price='yes'></amount-display></span>
							 </div>
							 <div class="navbar-btn"></div>
						</div>
					</div>
			    </div>
			</div>
		</li>
		<div class="well-lg clearfix"></div>
		<div class="well-lg clearfix"></div>
			<div class="col-xs-12 text-center"><a href="#!/courses/search" class="btn btn-lg btn-success"> <strong> {{'Find Courses' |translate}}</strong></a></div>
	</ul>
</div>