<div class="well well-lg list-group-item-text" ng-if="model.related_courses_by_user_length > 0">
	<div class="container">
		<div class="col-md-10 col-sm-9 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0 navbar-btn clearfix">
			<div class="well-sm"></div>
			<div class="row">					
				<ul class="col-xs-12 list-unstyled clearfix course-listing" >
					<h4><strong>{{'Related Classes' |translate}}</strong></h4>
					<div class="navbar-btn"></div>
					<li class="col-md-3 col-sm-6 col-xs-12 navbar-btn list-group-item-heading" ng-repeat="relatedCoursesByUser in model.relatedCoursesByUser.data" ng-if="model.related_courses_by_user_length > 0">
						<div class="navbar-btn clearfix panel" > 
							<span class="show pr"> 
							 <!-- course image when is_from_mooc_affiliate false -->
								<a ng-if="relatedCoursesByUser.image_hash && relatedCoursesByUser.is_from_mooc_affiliate !== 1" href="#!/course/{{relatedCoursesByUser.id}}/{{relatedCoursesByUser.slug}}" title="{{relatedCoursesByUser.title}}"><span class="course_thumb_img sidebar_img"> <img  ng-src="{{$root.site_url}}img/normal_thumb/Course/{{relatedCoursesByUser.image_hash}}" alt="[Image: {{relatedCoursesByUser.title}}]" title="{{relatedCoursesByUser.title}}" /></span></a> 
								<a ng-if="!relatedCoursesByUser.image_hash && relatedCoursesByUser.is_from_mooc_affiliate !== 1" href="#!/course/{{relatedCoursesByUser.id}}/{{relatedCoursesByUser.slug}}" title="{{relatedCoursesByUser.title}}"><span class="course_thumb_img sidebar_img"> <img ng-src="{{$root.site_url}}img/normal_thumb/Course/0.default.jpg" alt="[Image: {{relatedCoursesByUser.title}}]" title="{{relatedCoursesByUser.title}}"/></span></a> 				 
							 <!-- course image when is_from_mooc_affiliate true -->
								<a ng-if="relatedCoursesByUser.course_image && relatedCoursesByUser.is_from_mooc_affiliate === 1" href="#!/course/{{relatedCoursesByUser.id}}/{{relatedCoursesByUser.slug}}" title="{{relatedCoursesByUser.title}}"><span class="course_thumb_img sidebar_img"> <img ng-src="{{relatedCoursesByUser.course_image}}" alt="[Image: {{relatedCoursesByUser.title}}]" title="{{relatedCoursesByUser.title}}"/></span></a>
								<a ng-if="!relatedCoursesByUser.course_image && relatedCoursesByUser.is_from_mooc_affiliate === 1" href="#!/course/{{relatedCoursesByUser.id}}/{{relatedCoursesByUser.slug}}" title="{{relatedCoursesByUser.title}}"><span class="course_thumb_img sidebar_img"> <img ng-src="{{$root.site_url}}img/normal_thumb/Course/0.default.jpg" alt="[Image: {{relatedCoursesByUser.title}}]" title="{{relatedCoursesByUser.title}}"/></span></a> 				 
							</span>
							<div class="caption col-xs-12">
								<div class="row">
									<div class="well-sm"></div>
									<a href="#!/course/{{relatedCoursesByUser.id}}/{{relatedCoursesByUser.slug}}" class="htruncate-m3 h5 text-primary navbar-btn" title="{{relatedCoursesByUser.title}}"><strong>{{relatedCoursesByUser.title}}</strong></a>
									<div class="navbar-btn"></div>
									<div class="cleafix">
										<div class="show clearfix">
											<profile-image class="col-xs-3 row" user-image-hash='relatedCoursesByUser.user_image_hash' user-display-name='{{relatedCoursesByUser.displayname}}' user-profile-id='relatedCoursesByUser.user_id' ng-if="relatedCoursesByUser && $root.settings['site.enabled_plugins'].indexOf('Instructor') > -1" user-profile-thumb='micro_thumb' ></profile-image>
											<profile-name  class=" media-left col-xs-6" user-display-name='relatedCoursesByUser.displayname'  user-profile-id='relatedCoursesByUser.user_id' user-name-class='htruncate' ng-if="relatedCoursesByUser && $root.settings['site.enabled_plugins'].indexOf('Instructor') > -1" user-name-class='text-muted'></profile-name>
										</div>
										<div class="navbar-btn"></div> 
										<div class="show clearfix">
											<span class="pull-left text-muted"><i class="fa fa-group fa-lg"></i>&nbsp;{{relatedCoursesByUser.course_user_count}}</span>
											<span class="pull-right text-success h4  list-group-item-heading list-group-item-text"><amount-display amount='{{relatedCoursesByUser.price}}' fraction='0' is-course-price='yes'></amount-display></span>
										</div>
									
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>	
			</div>
		</div>
	</div>
</div>